[toolchain]
anchor_version = "0.31.0"
solana_version = "2.1.0"

[features]
resolution = true
skip-lint = false

[programs.localnet]
neptune = "DxQiCxj7hPw5oCXt4uMxXrsp1CLBmRUXzZczUwH9C5VU"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.test.ts"

[workspace]
types = "packages/neptune/src/types/"

# prep
[test.validator]
url = "https://api.mainnet-beta.solana.com"

# WAGMI locked_voter program
[[test.validator.clone]]
address = "voTpe3tHQ7AjQHMapgSue2HJFAh2cGsdokqN3XqmVSj"

# WAGMI governer program
[[test.validator.clone]]
address = "GovaE4iu227srtG2s3tZzB4RmWBzw8sTwrCLZz7kN7rY"

# WAGMI smart_wallet program
[[test.validator.clone]]
address = "smaK3fwkA7ubbxEhsimp1iqPTzfS4MBsNL77QLABZP6"

# JUP locker
[[test.validator.clone]]
address = "CVMdMd79no569tjc5Sq7kzz8isbfCcFyBS5TLGsrZ5dN"
# JUP mint
[[test.validator.clone]]
address = "JUPyiwrYJFskUPiHa7hkeR8VUtAeFoSYbKedZNsDvCN"
